//* ----------------- COLORS ---------------- *\\

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

.light-mode,
:root {
    --t-c-primary: #0f2137;
    --t-c-primary-light: #254b79;
    --t-c-main: #fff;
    // --bg-main: #fbfcfe;
    --bg-main: rgba(255, 255, 255, 1);
    --bg-secondary: #f6f8fb;
    --fill-c: #fff;

    --c-main: hsl(302, 35%, 41%);
    --c-main-dark: hsl(302, 35%, 35%);

    --header-height: 5.5rem;
    //-- font color

    --f-c-main: hsl(0, 0%, 85%);
    --f-c-primary: hsl(0, 0%, 100%);
    // --f-c-primary: hsl(0, 0%, 77%);
    --f-c-secondary: hsl(0, 0%, 80%);
    --f-c-secondary-lighter: hsl(0, 0%, 75%);
    --f-weight-primary: 300;
    // FONT VARIABLES
    --font-primary: Roboto, sans-serif;
    --font-secondary: 'Roboto Mono', monospace, sans-serif;

    --red: #dc3545;
    --red-dark: #e02336;

    --green: #28a745;
    --green-light: #37c558;
    --green-lighter: #5bd177;

    --warning: #ffc107;
    --warning-light: #f8c62e8f;
    --danger: #dc3545;
}

// RESPONSIVE BREAKPOINTS
$bp-4000: 250em; //  4000px
$bp-2500: 156.25em; // 2500px
$bp-1400: 87.5em; // 1400px
$bp-1349: 84.3125em; // 1349px
$bp-1300: 81.25em; // 1300px
$bp-1200: 75em; // 1200px
$bp-1100: 68.75em; // 1100px
$bp-1025: 64.0625em; // 1024px
$bp-1000: 62.5em; // 1000px
$bp-999: 62.4375em; // 999px
$bp-800: 50em; // 800px;
$bp-780: 48.75em; // 780px;
$bp-767: 47.9375em; // 767px;
$bp-735: 46em; // 735px;
$bp-700: 43.75em; // 735px;
$bp-600: 37.5em; // 600px;
$bp-650: 40.625em; // 650px
$bp-585: 36.56em; // 585px
$bp-500: 31.25em; // 500px;
$bp-450: 28.125em; // 450px;
$bp-414: 25.875em; // 450px;
$bp-400: 25em; // 400px;
$bp-375: 23.4375em; // 375px;
$bp-350: 21.875em; // 350px;
