//********** TYPOGRAPHY **********/
.app {
    .contact-icon {
        fill: var(--fill-c);
        width: 2.5rem;
        height: 2.5rem;
    }

    .scrolldown {
        --color: #bbb5b9;
        --color: #bbb5b9;
        --sizeX: 20px;
        --sizeY: 40px;
        position: relative;
        width: var(--sizeX);
        height: var(--sizeY);
        // margin-left: var(sizeX / 2);
        border: calc(var(--sizeX) / 10) solid var(--color);
        border-radius: 50px;
        box-sizing: border-box;
        margin-bottom: 16px;
    }

    .scrolldown::before {
        content: '';
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 6px;
        height: 4px;
        margin-left: -3px;
        background-color: var(--color);
        border-radius: 100%;
        animation: scrolldown-anim 2s infinite;
        box-sizing: border-box;
        box-shadow: 0px -5px 3px 1px #ffffff66;
    }

    .chevrons {
        padding: 6px 0 0 0;
        margin-left: -3px;
        margin-top: 35px;
        width: 23.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .chevrondown {
        margin-top: -4px;
        position: relative;
        border: solid var(--color);
        border-width: 0 3px 3px 0;
        display: inline-block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
    }
    .chevrondown:nth-child(odd) {
        animation: pulse 500ms ease infinite alternate;
    }
    .chevrondown:nth-child(even) {
        animation: pulse 500ms ease infinite alternate 250ms;
    }
    /*copy until here */

    hr.c-line {
        border: none;
        display: block;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNzggMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIgMTNsOC40LTlMMjYgMTYgMzkuMiA0LjkgNTMgMTZsOS4zLTEwLjJMNzYuNCAxNiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=);
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        filter: opacity(0.2);
        filter: invert(7%) sepia(25%) saturate(7470%) hue-rotate(241deg) brightness(100%)
            contrast(107%);
        height: 20px;
        width: 74.4px;
        color: var(--t-c-primary);
    }

    // ------------------------------------------------
    // * About
}
//************************************

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 4px;
    }
    40% {
        opacity: 1;
        height: 8px;
    }
    80% {
        transform: translate(0, 20px);
        height: 8px;
        opacity: 0;
    }
    100% {
        height: 3px;
        opacity: 0;
    }
}
@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

.app .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;

    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(34, 41, 47, 0.5);
    }
}
//********** MODAL **********/
.modal-overlay {
    z-index: 200;
    // background-color: rgba(255, 255, 255, 0.8);
    background-color: #fff;
    width: 70%;
    // border: 1px solid #1f2020;
    // box-shadow: 1px 1px 1px black;
    padding: 16px;

    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 6px;
    font-size: 1.1rem;
    color: var(--color-white);
    height: 200px;

    .modal-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;

        .modal-close {
            position: absolute;
            top: -5px;
            right: -5px;
            cursor: pointer;
        }
    }
    @media only screen and (min-width: $bp-600) {
        width: 500px;
        left: calc(50% - 250px);
    }
}

//************************************
